* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#link-side-panel {
    margin: 5px;
    float: left;
    width: 250px;
}

#main-panel {
    margin: 5px;
    float: right;
}

body {
    background-color: bisque;
}